@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "myTupi";
  src: url("../public/mytupi.ttf");
}

@font-face {
  font-family: "myTupiBold";
  src: url("../public/mytupiBOLD.ttf");
}

* {
  overflow: hidden;
}

body {
  background-color: #f2f2f2;
}
